.webpage-content {
    padding:30px 100px 30px 100px;
}

.webpage-heading {
    text-align:center;
}

#self-potrait {
    margin: auto;
    overflow: hidden;
    border: 3px solid navy;
    border-radius: 50%;
    padding: 10px;
}
#self-potrait img {
    width: 100%;
    height: auto;
}
