body {
    background:url('https://cmcburnieucf.github.io/portfolio/images/background-img.png') no-repeat center fixed; 
    background-size: cover;
}
.webpage-content {
    margin:30px 100px 30px 100px;
    padding:20px 50px 20px 50px;
    background-color: white;
}

.webpage-heading {
    text-align:center;
}

.webpage-header {
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 25px;
    padding-bottom: 12.5px;
}

.embed-container {
    width: 60%;
    height: 60%;
    overflow: auto;
    margin: 20px;
}

.updates-container {
    margin-bottom: 50px;
}

#self-potrait {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid navy;
    border-radius: 50%;
    padding: 10px;
    width: 300px;
    background-color: #f6f6f6;
}

#self-potrait img {
    max-width: 100%;
    height: auto;
}
